
<h1>Add New Page</h1>

<div>
  <form method="post" action="/create">
    <fieldset>
      <label for="title">Title:</label>
      <input type="text" name="title" id="title">
    </fieldset>

    <fieldset>
      <label for="content">Content:</label>
      <textarea name="content" id="content" rows="10" cols="50"></textarea>
    </fieldset>

    <input type="submit">
  </form>
</div>

<a href="/">Back to Index</a>
