
<h1><%= scape @title %></h1>
<p><%= scape @content %></p>

<div>
  <a href="/<%= @title %>/edit">Edit This Page</a>
  <form method="post" action="/<%= @title %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>
</div>
