
<p>Please, enter your name below.</p>

<form method="post" action="/<%= @index %>">
<input type="hidden" name="_method" value="put">

  <fieldset>
    <label for="name"></label>
    <input type="text" name="signature" id="signature" value="<%= scape @signature %>">
  </fieldset>

  <input type="submit">
</form>
