
<p>Please, enter your name below.</p>

<form method="post" action="/create">
  <fieldset>
    <label for="name"></label>
    <input type="text" name="signature" id="signature">
  </fieldset>

  <input type="submit">
</form>
