
<p><%= scape @signature %></p>

<p>
<a href="/<%= @index %>/edit">Edit This Signature</a>

<form method="post" action="/<%= @index %>">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete This Signature">
</form>
</p>

<h6>
  <a href="/index">Signatures List</a>
  <a href="/">Home</a>
</h6>
